= simple_form_for(@picture, html: {multipart: true }) do |form|

  - if @picture.errors.any?
    #errors
      %h2 
      = pluralize(@picture.errors.count, "error")
      prevented this pic from saving
      %ul
        = @picture.errors.full_messages.each do |msg|
          %li= msg
          
  .form-group
    = form.input :image, input_html: {class: 'form-control'}
  .form-group
    = form.input :title, input_html: {class: 'form-control'}
  .form-group
    = form.input :description, input_html: {class: 'form-control'}
    
  = form.button :submit, class: "btn btn-info"