#pic_show.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel.heading.pic_image
        = image_tag @picture.image.url
        
      .panel-body
        %h1= @picture.title
        %p= @picture.description

      .panel-footer
        .row
          .col-md-6
            %p.user
              by
              = @picture.user.email

          .col-md-6
            .btn-group.pull-right
              = link_to like_picture_path(@picture), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-thumbs-up
                = @picture.get_upvotes.count
              
              - if user_signed_in?
                = link_to "Edit", edit_picture_path, class: "btn btn-info"
                = link_to "Delete", picture_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning"